.transactions-card {
  padding-top: 10px;
  .table {
    width: 100%;
    margin-bottom: 0;
    thead,tbody,tr,td,th{
      display:block;
    }
    tbody {
      width: 100%;
      height: 420px;
      overflow-y: auto;
      padding-right: 16px;
      th{
        float: left;
        text-align: center;
      }
      td {
        float: left;
      }
      td:last-child {
        text-align: right;
        padding-right: 30px;
      }
    }
    thead {
      tr {
        th {
          float: left;
        }
        th:first-child{
          text-align: center;          
        }
        th:last-child {
          text-align: right;
          padding-right: 50px;
        }
      }
    }
  }
}

.transaction-details {
  max-height: 400px;
  overflow-y: auto;
}